{% extends "base.html" %}

{% block title %}Solicitar Redefinição de Senha{% endblock %}

{% block content %}
    <h2>Redefinir Senha</h2>
    <p>Por favor, insira seu nome de usuário para enviarmos um link de redefinição de senha.</p>
    <form method="POST" action="{{ url_for('request_password_reset') }}">
        <div class="mb-3">
            <label for="username_or_email" class="form-label">Nome de Usuário</label>
            <input type="text" class="form-control" id="username_or_email" name="username_or_email" required>
        </div>
        <button type="submit" class="btn btn-primary">Enviar Link de Redefinição</button>
    </form>
{% endblock %}