{% extends "base.html" %}

{% block title %}Redefinir sua Senha{% endblock %}

{% block content %}
    <h2>Crie uma Nova Senha</h2>
    <form method="POST" action="{{ url_for('reset_password_with_token', token=token) }}">
        <input type="hidden" name="token" value="{{ token }}">
        <div class="mb-3">
            <label for="new_password" class="form-label">Nova Senha</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
            <div id="passwordHelpBlock" class="form-text">
                Sua senha deve ter no mínimo 8 caracteres, conter letras maiúsculas e minúsculas, números e símbolos.
            </div>
        </div>
        <div class="mb-3">
            <label for="confirm_new_password" class="form-label">Confirmar Nova Senha</label>
            <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" required>
        </div>
        <button type="submit" class="btn btn-primary">Redefinir Senha</button>
    </form>
{% endblock %}